@namespace ArticleClientWebsite
@page "/publishers"

<h3>Publishers</h3>
<br />
<!--Show all Publishers-->
@if (publisherHashSet != null)
{
    @foreach (string s in publisherHashSet)
    {
        <button class="styled-button" @onclick="() => showAllArticlesWithPublisher(s)">@s</button>
    }
}
<br />
<br />
<!--Show all Articles From Publisher-->
@if (pub != "")
{
    @if (articles != null)
    {
        @foreach (Article article in articles)
        {
            @if(article.publisher == pub)
            {
                <button class="custom-button" @onclick="() => showFullArticle(article)">
                    <div class="button-content">
                        <div class="button-title">@article.title</div>
                        <div class="button-subtitle">@article.publisher</div>
                    </div>
                </button>
            }         
        }
    }

    <!--Shows Full Article-->
    @if (art != null)
    {
        <div class='article-container'>
            <div class='article-title'>@art.title</div>
            <div class='article-content'>@art.content</div>
            <div class='article-details'>
                <div class='article-author'>Autor: @art.publisher</div>
                <div class='article-date'>Erstellungsdatum: @art.publishDate</div>
            </div>
            <br>
            <div class="article-content">Kategorie @art.category</div>
        </div>
    }
}

@code {
    protected override async Task OnInitializedAsync()
    {
        getArticlesFromAPI();
    }

    private List<Article> articles = new List<Article>();
    private HashSet<string> publisherHashSet = new HashSet<string>();
    private string pub = "";
    private Article art = null;

    [Inject] private NavigationManager _navigationManager { get; set; }

    public void getArticlesFromAPI()
    {
        HttpClient client = new HttpClient();
        string response = "";

        try
        {
            response = client.GetStringAsync("http://localhost:3002/articles").Result;
            articles = Newtonsoft.Json.JsonConvert.DeserializeObject<List<Article>>(response);

            //fügt die Publisher in ein Hashset ein
            if (articles != null)
            {
                foreach (Article a in articles)
                {
                    publisherHashSet.Add(a.publisher);
                }
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message + "\nAPI wsl noch nicht an");
        }
    }

    private void showAllArticlesWithPublisher(string publisher)
    {
        pub = publisher;
        art = null;
    }

    public void showFullArticle(Article article)
    {
        art = article;
    }
}
